<header class="navbar" >
  <button
    type="button"
    class="mobile-menu"
    (click)="openMenu()">
    <span class="material-symbols-outlined">
      menu
    </span>
  </button>
  <div class="search-box">
    <span class="material-symbols-outlined">
      search
    </span>
    <input
      type="text"
      placeholder="Search..."
    />

  </div>


  <!-- ========================================
       PROFILE
  ========================================= -->

  <button
    type="button"
    class="profile"
    (click)="openProfile()">


    <!-- Profile Image -->

    <img
      src="https://i.pravatar.cc/100?img=12"
      alt="Profile"
    />


    <!-- Profile Info -->

    <div class="profile-info">

      <strong>
        John Doe
      </strong>

      <small>
        Admin
      </small>

    </div>


    <!-- Arrow -->

    <span class="material-symbols-outlined profile-arrow">
      expand_more
    </span>


  </button>

</header>
